.register-card{
  width: 100%;
  margin-right: 10%;
  margin-left: 1%;
}

.register-header{
  margin-bottom: 5%;
  margin-top: 2%;
}
.field-full {
  width: 95%;
}

.field-med {
  width: 45%;
  margin-right: 5%;
}

mat-card-title{
  font-size:xx-large;
  width: 50%;
}
