.example-card {
  max-width: 1200px;
  margin-bottom: 10px;
  margin-left: 28px;
  cursor: pointer
}

.card-content {
  max-width: 900px;
}

.example-card:hover{
  box-shadow: -2px 4px 0px 0px rgba(0,0,0,0.8);
}

.button-form{
  height: 60px;
}
