.create-rute-card{
    margin: 3%;
    max-width: 1000px;
    align-self: center;
}

.form-container{
    align-content: center;
}

.main-header{
    margin-bottom: 1%;
}

.field-full {
    width: 100%;
  }